.loading-screen {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Arial', sans-serif;
}

.loading-logo {
  height: 120px;
  margin-bottom: 1.5rem;
}

.loading-screen p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}
